@font-face{
  src: url("../fonts/Blacksword.otf");
  font-family: 'sword';
}
@font-face{
  src: url("../fonts/Night DEMO.ttf");
  font-family: 'night';
}

.waben{
  position: relative;
  display: inline-block;
}
.fellowship{
  position: absolute;
  top:5%;
  left:75%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.birthday{
  position: absolute;
  top:27%;
  left:40%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.date{
  position: absolute;
  top:20%;
  left:80%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.name{
  position: absolute;
  top:65%;
  left:70%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.custom{
  position: absolute;
  top:88%;
  left:70%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}

.upload {
       float: left;
       position: absolute;
       left: 40px;
       top: 340px;
       z-index: 1000;
       padding: 5px;
       font-weight: bold;
    }
.circular--portrait {
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1000;
}
#download {
  float: right;
       position: absolute;
       left: 520px;
       top: 385px;
       z-index: 1000;
       padding: 5px;
       font-weight: bold;
}

img{
  max-width:700;
}
h2{
  white-space: nowrap;
  color: whitesmoke;
}
h1{
  font-family: 'sword';
  font-size: 90px;
  color: whitesmoke;
}

h3{
  font-family: 'night';
  font-size: 25px;
  color: #526ddb;
}
h4{
   font-family: 'night';
  font-size: 35px;
  text-align: center;
   color: #526ddb;
}
h5{
  white-space: nowrap;
  font-family: 'night';
  font-size: 25px;
  text-align: center;
   color: whitesmoke;
}
#container{
    width:400px;
    height:200px;
  
}



#button{
  float: right;
       position: absolute;
       left: 520px;
       top: 385px;
       
      
      
    
}
