
.waben{
  position: relative;
  display: inline-block;
}
.fellowship{
  position: absolute;
  top:5%;
  left:75%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.birthday{
  position: absolute;
  top:25%;
  left:30%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.date{
  position: absolute;
  top:20%;
  left:80%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.name{
  position: absolute;
  top:65%;
  left:70%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}
.custom{
  position: absolute;
  top:88%;
  left:77%;
  transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
}

.upload {
       float: left;
       position: absolute;
       left: 40px;
       top: 340px;
       z-index: 1000;
       padding: 5px;
       font-weight: bold;
    }
.circular--portrait {
  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1000;
}

img{
  max-width:700;
}
h2{
  white-space: nowrap;
  color: whitesmoke;
}
h1{
  font-family: 'Lobster';
  font-size: 100px;
  color: whitesmoke;
}

h3{
  font-family: 'Lobster';
  font-size: 25px;
  color: skyblue;
}
h4{
  font-size: 25px;
  text-align: center;
   color: skyblue;
}
h5{
  white-space: nowrap;
  font-size: 25px;
  text-align: center;
   color: whitesmoke;
}
